*,
*::before,
*::after {
  font-family: var(--font-futura-lt-pro-light);
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h6,
h6 * {
  text-transform: uppercase;
  font-family: var(--font-futura-lt-pro-book);
}

button {
  text-transform: uppercase;
  font-family: var(--font-walbaum-pro);
}
