*,
*::before,
*::after {
  font-family: var(--font-futura-lt-pro), sans-serif;
}

/* reset border radius */
:root {
  --radius: 0rem;
}

body {
  overflow-x: hidden;
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h6,
h6 * {
  text-transform: uppercase;
  font-family: var(--font-futura-lt-pro), sans-serif;
}

button {
  text-transform: uppercase;
  font-family: var(--font-walbaum-pro);
}
