.logo-wrapper {
  --linear-mask: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.2) 70%
  );
  mask-image: var(--linear-mask);
  mask-size: 200% 100%;
  mask-position: center;
  mask-repeat: repeat;
  animation: mask 2s infinite linear;
}

@keyframes mask {
  0% {
    mask-position: 0% 50%;
  }
  100% {
    mask-position: 200% 50%;
  }
}
