NEXT_PUBLIC_HOST_URL=

# DATABASE
MONGODB_URI=
JWT_SECRET=

# SHOPIFY
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SHOPIFY_SHOP_NAME=
SHOPIFY_ACCESS_TOKEN=
NEXT_PUBLIC_SHOP_DOMAIN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
