NEXT_PUBLIC_HOST_URL=

# AUTH
BETTER_AUTH_SECRET=
# Base URL of your app
BETTER_AUTH_URL= 

# DATABASE
MONGODB_URI=

# SHOPIFY
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SHOPIFY_SHOP_NAME=
SHOPIFY_ACCESS_TOKEN=
NEXT_PUBLIC_SHOP_DOMAIN=
NEXT_PUBLIC_SHOPIFY_ACCESS_TOKEN=
